<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title><head>
    <meta charset="UTF-8">
    <title>Tambah Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(pagename='Add')"></nav>
<h2>Something went wrong. We're on it!</h2>
</body>
</html>