<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Viewall Jabatan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel=stylesheet type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(pagename='Add')"></nav>
    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Nama</th>
            <th>Deskripsi</th>
            <th>Gaji Pokok</th>
            <th>Jumlah Pegawai</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="jabatan : ${jabatans}">
            <td th:text="${jabatan.nama}"></td>
            <td th:text="${jabatan.deskripsi}"></td>
            <td th:text="${jabatan.gaji_pokok}"></td>
            <td th:text="${count[jabatan.id]}"></td>
        </tr>
        </tbody>
    </table>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>

$(document).ready(function() {

   $(document).ready(function() {
    $('#example').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
} );

</script>
</body>
</html>