<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Jabatan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(pagename='Add')"></nav>
<h3 th:text="'Detail Jabatan ' + ${jabatan.nama}"></h3>
<table>
    <tr>
        <td>Nama</td>
        <td th:text="${jabatan.nama}"></td>
    </tr>
    <tr>
        <td>Deskripsi</td>
        <td th:text="${jabatan.deskripsi}"></td>
    </tr>
    <tr>
        <td>Gaji Pokok</td>
        <td th:text="${jabatan.gaji_pokok}"></td>
    </tr>

    <tr>
        <td>
            <a class="btn btn-primary" th:href="'/jabatan/ubah?idJabatan=' + ${jabatan.id}">Ubah</a>
        </td>
        <td>
            <form th:action="@{/jabatan/hapus}" method="post">
                <input type="hidden" th:field="${jabatan.id}"/>
                <button class="btn btn-primary" value="submit">Hapus</button>
            </form>
        </td>
    </tr>

</table>
</body>
</html>